<section id="about-me" class="about-me-section">
  <div class="about-me-container">
    <div class="title-box">
      <h2 class="title-in-box">ABOUT ME</h2>
    </div>
    <p class="about-me-text">
      My name is Olexandr Melnichenko. I am an entrepreneur, freelancer and full
      stack developer of websites and mobile applications. I completed a year
      and a half of training in full stack development. And I decided that this
      area is interesting to me due to its technological nature and creative
      potential in building projects. <br /><br />
      After the courses, I continuously study and practice on my own projects,
      because it is an extremely interesting process - to create technologically
      complex things. Mastering new technologies on practical tasks is one of my
      hobbies and arouses my keen interest. <br /><br />My work principles are
      that everything must be done to the end and with high quality. I am fond
      of playing the guitar, sports, yoga and designing. I also write books on
      the topic of philosophy and science fiction. I love communication and
      active recreation.
    </p>
    <div>
      <svg class="separator" width="160px" height="12px">
        <use href="/img/separatorBlack-7.svg"></use>
      </svg>
    </div>

    <div class="list-of-services">
      <div class="service">
        <img
          src="/img/karandash.svg"
          alt="Иконка для дизайна"
          class="svg-icon"
        />
        <h2 class="services-title">DESIGN</h2>
        <p>
          I can design the website based on your needs and suggestions. I can
          also create it from scratch by consulting with you during work.
        </p>
      </div>

      <div class="service">
        <img
          src="/img/otvertka.svg"
          alt="Иконка для разработки"
          class="svg-icon"
        />
        <h2 class="services-title">DEVELOPMENT</h2>
        <p>
          Based on a project created by me or another one, sent by you, I can
          program the website to be fully functional and responsive.
        </p>
      </div>

      <div class="service">
        <img
          src="/img/shesterenka.svg"
          alt="Иконка для поддержки"
          class="svg-icon"
        />
        <h2 class="services-title">MAINTENANCE</h2>
        <p>
          In case of any problems or the need for changes, I can introduce new
          functionalities and solutions.
        </p>
      </div>
    </div>

    <div>
      <svg class="separator" width="160px" height="12px">
        <use href="/img/separatorBlack-7.svg"></use>
      </svg>
    </div>
  </div>
  <div id="skills" class="skills-container">
    <div class="title-box">
      <h2 class="title-in-box">SKILLS</h2>
    </div>
    <h3 class="skills-titles">USING NOW:</h3>
    <ul class="tech-list" id="techList>
      <li class="technology-box">
        <img class="technology-icons" src="/img/html5.svg" alt="HTML5 Icon" />
        <h4 class="skill-name">HTML5</h4>
      </li>

      <li class="technology-box">
        <img class="technology-icons" src="/img/css3.svg" alt="CSS3 Icon" />
        <h4 class="skill-name">CSS3</h4>
      </li>

      <li class="technology-box">
        <img class="technology-icons" src="/img/sass.svg" alt="SASS Icon" />
        <h4 class="skill-name">SASS</h4>
      </li>

      <li class="extended-box">
        <img class="technology-icons" src="/img/js-icon.svg" alt="JS Icon" />
        <h4 class="skill-name">JAVASCRIPT</h4>
      </li>

      <li class="extended-box">
        <img
          class="technology-icons"
          src="/img/react-icon.svg"
          alt="React Icon"
        />
        <h4 class="skill-name">REACT</h4>
      </li>

      <li class="extended-box">
        <img
          class="technology-icons"
          src="/img/bootstrap-icon.svg"
          alt="BOOTSTRAP Icon"
        />
        <h4 class="skill-name">BOOTSTRAP</h4>
      </li>

      <li class="extended-box">
        <img class="technology-icons" src="/img/git-icon.svg" alt="Git Icon" />
        <h4 class="skill-name">GIT</h4>
      </li>

      <li class="extended-box">
        <img
          class="technology-icons"
          src="/img/figma-icon.svg"
          alt="Figma Icon"
        />
        <h4 class="skill-name">FIGMA</h4>
      </li>
    </ul>

    <button class="skills-btn-more" id="moreSkillsBtn">MORE</button>

    <h3 class="skills-titles-1200">LEARNING:</h3>
    <ul class="learning-tech-list">
      <li class="extended-box">
        <img
          class="technology-icons"
          src="/img/node-js-icon.svg"
          alt="Node-JS Icon"
        />
        <h4 class="skill-name">NODE JS</h4>
      </li>

      <li class="extended-box">
        <img
          class="technology-icons"
          src="/img/mysql-icon.svg"
          alt="MySQL Icon"
        />
        <h4 class="skill-name">MySQL</h4>
      </li>

      <li class="extended-box">
        <img
          class="technology-icons"
          src="/img/MongoDB.svg"
          alt="MongoDB Icon"
        />

        <h4 class="skill-name">MONGODB</h4>
      </li>

      <li class="extended-box">
        <img
          class="technology-icons"
          src="/img/typescript-icon.svg"
          alt="TypeScript Icon"
        />
        <h4 class="skill-name">TYPESCRIPT</h4>
      </li>

      <li class="extended-box">
        <img
          class="technology-icons"
          src="/img/AngularJS.svg"
          alt="Angular Icon"
        />

        <h4 class="skill-name">ANGULAR</h4>
      </li>

      <li class="extended-box">
        <img class="technology-icons" src="/img/Docker.svg" alt="Docker Icon" />

        <h4 class="skill-name">Docker</h4>
      </li>

      <li class="extended-box">
        <img
          class="technology-icons"
          src="/img/Next.js.svg"
          alt="NextJS Icon"
        />
        <h4 class="skill-name">NextJS</h4>
      </li>

      <li class="extended-box">
        <img class="technology-icons" src="/img/NGINX.svg" alt="NGINX Icon" />
        <h4 class="skill-name">NGINX</h4>
      </li>

      <li class="extended-box">
        <img
          class="technology-icons"
          src="/img/PostgresSQL.svg"
          alt="PostgresSQL Icon"
        />
        <h4 class="skill-name">PostgresSQL</h4>
      </li>
    </ul>

    <h3 class="skills-titles-1200">OTHER SKILLS:</h3>
    <ul class="other-tech-list">
      <li class="other-skills-box">
        <img
          class="technology-icons other-icon"
          src="/img/english-icon.svg"
          alt="English Icon"
        />
        <h4 class="skill-name">ENGLISH</h4>
        <h4 class="skill-name">B1/B2</h4>
      </li>

      <li class="other-skills-box">
        <img
          class="technology-icons other-icon"
          src="/img/ukraine-flag-circular-17799.svg"
          alt="Ukrainian Icon"
        />
        <h4 class="skill-name">UKRAINIAN</h4>
        <h4 class="skill-name">NATIVE</h4>
      </li>
    </ul>
  </div>
</section>
