<section id="about-me" class="about-me-section">
  <div class="about-me-container">
    <div class="title-box">
      <h2 class="title-in-box">ABOUT ME</h2>
    </div>
    <p class="about-me-text">
      My name is Tomasz Gajda, I'm a third year Applied Computer Science student
      at the AGH University of Science and Technology in Krakow. I have been
      learning Front-End technologies for a year and this time was just enough
      for me to make sure that this is my place in the industry. <br /><br />
      Membership in the science club developed my design skills, which quickly
      turned into a new hobby. I am fluent in English (spoken and written) and
      intermediate Spanish. Apart from designing and programming websites, my
      passion is all kinds of motorsport - from rallies to the very king of
      motorsport - formula 1.
    </p>
    <button class="btn-explore">EXPLORE</button>
    <div>
      <svg class="separator" width="160px" height="12px">
        <use href="./img/separatorBlack-7.svg"></use>
      </svg>
    </div>

    <div class="list-of-services">
      <div class="service">
        <img
          src="./img/karandash.svg"
          alt="Иконка для дизайна"
          class="svg-icon"
        />
        <h2 class="services-title">DESIGN</h2>
        <p>
          I can design the website based on your needs and suggestions. I can
          also create it from scratch by consulting with you during work.
        </p>
      </div>

      <div class="service">
        <img
          src="./img/otvertka.svg"
          alt="Иконка для разработки"
          class="svg-icon"
        />
        <h2 class="services-title">DEVELOPMENT</h2>
        <p>
          Based on a project created by me or another one, sent by you, I can
          program the website to be fully functional and responsive.
        </p>
      </div>

      <div class="service">
        <img
          src="./img/shesterenka.svg"
          alt="Иконка для поддержки"
          class="svg-icon"
        />
        <h2 class="services-title">MAINTENANCE</h2>
        <p>
          In case of any problems or the need for changes, I can introduce new
          functionalities and solutions.
        </p>
      </div>
    </div>

    <div>
      <svg class="separator" width="160px" height="12px">
        <use href="./img/separatorBlack-7.svg"></use>
      </svg>
    </div>
  </div>
  <div id="skills" class="skills-container">
    <div class="title-box">
      <h2 class="title-in-box">SKILLS</h2>
    </div>
    <h3 class="skills-titles">USING NOW:</h3>
    <ul class="tech-list">
      <li class="technology-box">
        <svg
          class="technology-icons"
          viewBox="0 0 85 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/html5.svg"></use>
        </svg>
        <h4 class="skill-name">HTML5</h4>
      </li>

      <li class="technology-box">
        <svg
          class="technology-icons"
          viewBox="0 0 85 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/css3.svg"></use>
        </svg>
        <h4 class="skill-name">CSS3</h4>
      </li>

      <li class="technology-box">
        <svg class="technology-icons" preserveAspectRatio="xMidYMid meet">
          <use href="../img/sass.svg"></use>
        </svg>
        <h4 class="skill-name">SASS</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 96 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/js-icon.svg"></use>
        </svg>
        <h4 class="skill-name">JAVASCRIPT</h4>
      </li>

      <li class="extended-box">
        <svg class="technology-icons" preserveAspectRatio="xMidYMid meet">
          <use href="../img/react-icon.svg"></use>
        </svg>
        <h4 class="skill-name">REACT</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 97 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/bootstrap-icon.svg"></use>
        </svg>
        <h4 class="skill-name">BOOTSTRAP</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 96 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/git-icon.svg"></use>
        </svg>
        <h4 class="skill-name">GIT</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 70 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/figma-icon.svg"></use>
        </svg>
        <h4 class="skill-name">FIGMA</h4>
      </li>
    </ul>

    <h3 class="skills-titles-1200">LEARNING:</h3>
    <ul class="learning-tech-list">
      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 86 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/node-js-icon.svg"></use>
        </svg>
        <h4 class="skill-name">NODE JS</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 102 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/mysql-icon.svg"></use>
        </svg>
        <h4 class="skill-name">MySQL</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 108 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/MongoDB.svg"></use>
        </svg>
        <h4 class="skill-name">MONGODB</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/typescript-icon.svg"></use>
        </svg>
        <h4 class="skill-name">TYPESCRIPT</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/AngularJS.svg"></use>
        </svg>
        <h4 class="skill-name">ANGULAR</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/Docker.svg"></use>
        </svg>
        <h4 class="skill-name">Docker</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/Next.js.svg"></use>
        </svg>
        <h4 class="skill-name">NextJS</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/NGINX.svg"></use>
        </svg>
        <h4 class="skill-name">NGINX</h4>
      </li>

      <li class="extended-box">
        <svg
          class="technology-icons"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/PostgresSQL.svg"></use>
        </svg>
        <h4 class="skill-name">PostgresSQL</h4>
      </li>
    </ul>

    <h3 class="skills-titles-1200">OTHER SKILLS:</h3>
    <ul class="other-tech-list">
      <li class="other-skills-box">
        <svg
          class="technology-icons other-icon"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/english-icon.svg"></use>
        </svg>
        <h4 class="skill-name">ENGLISH</h4>
        <h4 class="skill-name">B1/B2</h4>
      </li>

      <li class="other-skills-box">
        <svg
          class="technology-icons other-icon"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid meet"
        >
          <use href="../img/ukraine-flag-circular-17799.svg"></use>
        </svg>
        <h4 class="skill-name">UKRAINIAN</h4>
        <h4 class="skill-name">NATIVE</h4>
      </li>
    </ul>
  </div>
</section>
