<section class="about-me-section">
  <div class="about-me-container">
    <div class="title-box">
      <h2 class="title-in-box">ABOUT ME</h2>
    </div>
    <p class="about-me-text">
      My name is Tomasz Gajda, I'm a third year Applied Computer Science student
      at the AGH University of Science and Technology in Krakow. I have been
      learning Front-End technologies for a year and this time was just enough
      for me to make sure that this is my place in the industry. <br /><br />
      Membership in the science club developed my design skills, which quickly
      turned into a new hobby. I am fluent in English (spoken and written) and
      intermediate Spanish. Apart from designing and programming websites, my
      passion is all kinds of motorsport - from rallies to the very king of
      motorsport - formula 1.
    </p>
    <button class="btn-explore">EXPLORE</button>
    <div>
      <svg class="separator" width="160px" height="12px">
        <use href="../img/separatorBlack-7.svg"></use>
      </svg>
    </div>

    <div class="list-of-services">
      <div class="service background-pencil">
        <h2 class="services-title">DESIGN</h2>
        <p>
          I can design the website based on your needs and suggestions. I can
          also create it from scratch by consulting with you during work.
        </p>
      </div>

      <div class="service">
        <h2 class="services-title">DEVELOPMENT</h2>
        <p>
          Based on a project created by me or another one, sent by you, I can
          program the website to be fully functional and responsive.
        </p>
      </div>

      <div class="service">
        <h2 class="services-title">MAINTENANCE</h2>
        <p>
          In case of any problems or the need for changes, I can introduce new
          functionalities and solutions.
        </p>
      </div>
    </div>

    <div>
      <svg class="separator" width="160px" height="12px">
        <use href="../img/separatorBlack-7.svg"></use>
      </svg>
    </div>
  </div>
  <div class="skills-container">
    <div class="title-box">
      <h2 class="title-in-box">SKILLS</h2>
    </div>
    <h3 class="skills-titles">USING NOW:</h3>
    <ul class="tech-list">
      <li class="technology-box">
        <svg class="technology-icons">
          <use href="../img/html5.svg"></use>
        </svg>
        <h4>HTML5</h4>
      </li>

      <li class="technology-box">
        <svg class="technology-icons">
          <use href="../img/css3.svg"></use>
        </svg>
        <h4>CSS3</h4>
      </li>

      <li class="technology-box">
        <svg class="technology-icons">
          <use href="../img/sass.svg"></use>
        </svg>
        <h4>SASS</h4>
      </li>
    </ul>
  </div>
</section>
