<section class="berries-section">
  <div class="berries-container">
    <h2 class="berries-title">HOW TO IMPLEMENT A DREAM?</h2>
    <p class="berries-text">
      First, you have a dream, like a fascinating picture filled with
      admiration! Then, you feel a burning desire to make it come true. Desire
      generates ideas on how you can achieve your goals. And ideas fueled by
      plans require specific actions. And so you go to your success, taking the
      steps that, according to your plan, will lead you to your dream.
    </p>

    <div class="berries-hidden-text" id="berriesHiddenContent">
      <p class="berries-text">
        In the modern world, most ideas and projects require scaling on the
        Internet. And for this purpose, you will need a high-quality and
        attractive website.

        <br /><br />
        I can help you with this, because making interesting websites is my
        dream and aspiration. And by working together, we can make your dream
        come true!

        <br /><br />
        We will discuss all your wishes and project details. Step by step, we
        will create the right concept and design. We will carefully consider
        usability and each function. And in the end, you will get your ship, on
        which you will sail to your dream in the boundless ocean of the
        Internet!

        <br /><br />
        Contact us right now and your dream will find you!
      </p>
    </div>

    <button class="berries-btn" id="berriesReadMoreBtn">
      <span class="small-btn-text">MORE</span>
      <span class="large-btn-text">READ MORE</span>
    </button>
  </div>
</section>
