<section id="contact-me" class="contact-section">
  <div class="title-box">
    <h2 class="title-in-box">CONTACT</h2>
  </div>
  <p class="contact-section-text">
    My name is Оlexander Melnichenko. I am a full stack web developer. I am
    proficient in HTML, CSS, Javascript, React, Redux and other technologies. If
    you need to write a mobile application or website, please contact me by
    filling out this form below:
  </p>
  <div>
    <svg class="contact-separator" width="160px" height="12px">
      <use href="./img/separatorBlack-7.svg"></use>
    </svg>
  </div>

  <form action="/api/submit-form" method="POST" class="form-container">
    <input
      type="text"
      class="input-style"
      id="nameInput"
      name="user_name"
      placeholder="ENTER YOUR NAME*"
      required
    />

    <input
      type="email"
      class="input-style"
      id="emailInput"
      name="user_email"
      placeholder="ENTER YOUR EMAIL*"
      required
    />

    <input
      type="text"
      class="input-style"
      id="phoneNumberInput"
      name="user_phoneNumber"
      placeholder="PHONE NUMBER"
    />

    <textarea
      class="input-style"
      id="messageTextarea"
      name="user_message"
      rows="5"
      placeholder="YOUR MESSAGE*"
      required
    ></textarea>

    <button type="submit" class="submit-button">SUBMIT</button>
  </form>
</section>
