<footer class="footer">
  <div class="footer-container">
    <button class="up-arrow-btn">
      <svg class="up-arrow-icon">
        <use href="img/sprite.svg#icon-double-arrow"></use>
      </svg>
      <p class="up-arrow-btn-title">BACK TO TOP</p>
    </button>
    <div class="social-icons-row">
      <a
        class="nav-logo"
        href="https://www.facebook.com/alexandr.grossa"
        target="_blank"
      >
        <svg class="footer-soc-icons">
          <use href="img/sprite.svg#icon-fb-icon"></use>
        </svg>
      </a>

      <a
        class="nav-logo"
        href="https://www.linkedin.com/in/olexandr-melnichenko/"
        target="_blank"
      >
        <svg class="footer-soc-icons">
          <use href="img/sprite.svg#icon-link-icon"></use>
        </svg>
      </a>

      <a
        class="nav-logo"
        href="https://www.instagram.com/alexandr.melnichenko.pro/"
        target="_blank"
      >
        <svg class="footer-soc-icons">
          <use href="img/sprite.svg#icon-instagram-icon"></use>
        </svg>
      </a>

      <a
        class="nav-logo"
        href="mailto:alexandr.melnichenko@gmail.com"
        target="_blank"
      >
        <svg class="footer-soc-icons">
          <use href="img/sprite.svg#icon-email-icon"></use>
        </svg>
      </a>
    </div>
    <p class="copyright">@2025 Olexandr Melnichenko All Rights Reserved.</p>
  </div>
</footer>
