<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon">
          <use href="img/sprite.svg#icon-Logo-portfolio"></use>
        </svg>
      </a>

      <ul class="menu-links">
        <li>
          <a href="#about-me" class="nav-link">About me</a>
        </li>
        <li>
          <a href="#skills" class="nav-link">Skills</a>
        </li>
        <li>
          <a href="#portfolio" class="nav-link">Portfolio</a>
        </li>
        <li>
          <a href="#contact-me" class="contact-link">CONTACT ME</a>
        </li>
      </ul>

      <button class="btn-menu js-open-menu">
        <svg class="btn-menu-icon" width="31px" height="27px">
          <use href="img/sprite.svg#icon-Group-menu"></use>
        </svg>
        <svg class="close-btn-icon">
          <use href="img/sprite.svg#icon-close-btn" />
        </svg>
      </button>
    </nav>

    <!-- mobil-modal -->
    <div class="mobile-menu-header">
      <nav aria-label="mobile navigation" class="mobile-menu-navigation">
        <ul class="menu-header">
          <li>
            <a
              href="#about-me"
              aria-label="read about me"
              class="menuItem-header"
              >About me</a
            >
          </li>
          <li>
            <a
              href="#skills"
              aria-label="read about my skills"
              class="menuItem-header"
              >Skills</a
            >
          </li>
          <li>
            <a href="#portfolio" aria-label="portfolio" class="menuItem-header"
              >Portfolio</a
            >
          </li>
          <li>
            <a
              href="#contact-me"
              aria-label="contact me"
              class="menuItem-header"
              >CONTACT ME</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
