<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon">
          <use href="img/sprite.svg#icon-Logo-portfolio"></use>
        </svg>
      </a>

      <div class="menu-links">
        <a href="./index.html" class="nav-link">About me</a>
        <a href="./index.html" class="nav-link">Skills</a>
        <a href="./index.html" class="nav-link">Portfolio</a>

        <a href="./index.html" class="contact-link">CONTACT ME</a>
      </div>

      <button class="menu-btn">
        <svg class="nav-logo-icon" width="31px" height="27px">
          <use href="img/sprite.svg#icon-Group-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
