<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="42px" height="35px">
          <use href="img/sprite.svg#icon-Logo-portfolio"></use>
        </svg>
      </a>
      <button class="menu-btn">
        <svg class="nav-logo-icon" width="31px" height="27px">
          <use href="img/sprite.svg#icon-Group-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
