<section class="hero-section">
  <div class="hero-container">
    <div class="hero-text-column">
      <div class="text-wrapper">
        <p class="text-Hi">Hi, I am</p>
        <h1 class="text-h1">Olexandr</h1>
        <p class="text-profession">Full-stack developer</p>
      </div>
      <div class="icons-wrapper">
        <a class="social" href="./index.html">
          <svg class="social-icons">
            <use href="img/sprite.svg#icon-Vector-email"></use>
          </svg>
        </a>
        <a class="social" href="./index.html">
          <svg class="social-icons">
            <use href="img/sprite.svg#icon-Vector-github"></use>
          </svg>
        </a>
        <a class="social" href="./index.html">
          <svg class="social-icons">
            <use href="img/sprite.svg#icon-Vector-linkedin"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="img-hero">
      <img src="../img/webp/hero-portrait.webp" alt="Портрет разработчика" />
    </div>
  </div>
</section>
