<section class="second-hero-section">
  <div class="second-hero-container">
    <div class="second-text-wrapper">
      <p class="text-my-name">my name is Olexandr</p>
      <h1 class="text-developer">I'M A DEVELOPER</h1>
      <svg class="nav-logo-icon" width="120px" height="10px">
        <use href="../img/separatorWhite 2.svg"></use>
      </svg>
    </div>
    <div class="second-icons-wrapper">
      <a class="social" href="./index.html">
        <svg class="nav-logo-icon" width="30px" height="30px">
          <use href="img/sprite.svg#icon-Vector-email"></use>
        </svg>
      </a>
      <a class="social" href="./index.html">
        <svg class="nav-logo-icon" width="30px" height="30px">
          <use href="img/sprite.svg#icon-Vector-github"></use>
        </svg>
      </a>
      <a class="social" href="./index.html">
        <svg class="nav-logo-icon" width="30px" height="30px">
          <use href="img/sprite.svg#icon-Vector-linkedin"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
