<section id="portfolio" class="portfolio-section">
  <div class="portfolio-title-container">
    <div class="title-box">
      <h2 class="title-in-box">PORTFOLIO</h2>
    </div>
  </div>
  <div class="btn-container">
    <button class="filter-btns">ALL</button>
    <button class="filter-btns">CODED</button>
    <button class="filter-btns">DESIGNED</button>
  </div>

  <ul class="portfolio-list">
    <li class="portfolio-item">
      <img src="/img/webp/water-tracker.webp" alt="Water tracker project" />
    </li>

    <li class="portfolio-item">
      <img src="/img/webp/inventory-screenshot.webp" alt="Inventory project" />
    </li>

    <li class="portfolio-item">
      <img
        src="/img/webp/landing-lloyd-screenshot.webp"
        alt="Landing page project"
      />
    </li>

    <li class="portfolio-item">
      <img
        src="/img/webp/rental-car-screenshot.webp"
        alt="Rental car project"
      />
    </li>
  </ul>

  <div class="phrase-container">
    <p class="phrase">And many more to come!</p>
  </div>
</section>
