<section id="portfolio" class="portfolio-section">
  <div class="portfolio-title-container">
    <div class="title-box">
      <h2 data-i18n="portfolioTitle" class="title-in-box">PORTFOLIO</h2>
    </div>
  </div>
  <div class="btn-container">
    <button
      data-i18n="portfolioBtnAll"
      class="filter-btns active"
      data-category="all"
    >
      ALL
    </button>
    <button
      data-i18n="portfolioBtnPersonalProjects"
      class="filter-btns"
      data-category="personal"
    >
      PERSONAL PROJECTS
    </button>
    <button
      data-i18n="portfolioBtnTeamProjects"
      class="filter-btns"
      data-category="team"
    >
      TEAM PROJECTS
    </button>
  </div>

  <ul class="portfolio-list">
    <li class="portfolio-item" data-category="team">
      <img
        class="project-image"
        src="/img/webp/water-tracker.webp"
        alt="Water tracker project"
      />
      <div class="overlay">
        <div class="overlay-content">
          <p data-i18n="portfolioOverlayTagTeamProject" class="overlay-tag">
            team project
          </p>
          <h3 data-i18n="portfolioOverlayTitleAquatrack" class="overlay-title">
            AQUATRACK
          </h3>
          <p data-i18n="portfolioOverlayTextAquatrack" class="overlay-text">
            Water tracker is a team project designed to quickly track the amount
            of water drunk per day. <br /><br />It is relevant for athletes and
            people who monitor their own health. <br /><br />The tracker uses
            authorization, a calendar and graphics to clearly display the dose
            of water drunk as a percentage of the daily norm. <br /><br />When
            writing the project, such libraries as React, Redux, Node.js and
            MongoDB were used.
          </p>

          <a
            class="overlay-btn"
            data-i18n="portfolioBtnVisit"
            target="_blank"
            href="https://h2-o-flow-team4.vercel.app/"
            >VISIT</a
          >
        </div>
      </div>
    </li>

    <li class="portfolio-item" data-category="personal">
      <img
        class="project-image"
        src="/img/webp/inventory-screenshot.webp"
        alt="Inventory project"
      />
      <div class="overlay">
        <div class="overlay-content">
          <p data-i18n="portfolioOverlayTagPersonalProject" class="overlay-tag">
            personal project
          </p>
          <h3 data-i18n="portfolioOverlayTitleInventory" class="overlay-title">
            INVENTORY
          </h3>
          <p data-i18n="portfolioOverlayTextInventory" class="overlay-text">
            Inventory is my personal test project, which implements the
            functionality of accounting for goods added to the warehouse with
            the potential ability to edit, add and delete goods from the
            database. <br /><br />The database is implemented on SQL, the
            project is deployed on a personal VPS, using Docker and other
            technologies. The project was implemented on React, Redux, MYSQL,
            NODE.JS and Java Script.
          </p>

          <a
            data-i18n="portfolioBtnVisit"
            class="overlay-btn"
            target="_blank"
            href="https://inventory.in.ua/"
            >VISIT</a
          >
        </div>
      </div>
    </li>

    <li class="portfolio-item" data-category="team">
      <img
        class="project-image"
        src="/img/webp/landing-lloyd-screenshot.webp"
        alt="Landing page project"
      />
      <div class="overlay">
        <div class="overlay-content">
          <p data-i18n="portfolioOverlayTagTeamProject" class="overlay-tag">
            team project
          </p>
          <h3
            data-i18n="portfolioOverlayTitleLloydJefferson"
            class="overlay-title"
          >
            LLOYDJEFFERSON.
          </h3>
          <p
            data-i18n="portfolioOverlayTextLloydJefferson"
            class="overlay-text"
          >
            This is a team training project - a landing page with a web
            developer's portfolio. This project actively uses CSS animation, a
            dark theme and adaptive layout are implemented. <br /><br />In this
            project, I acted as a team lead and simultaneously did one of the
            sections. The project was completed in a week. HTML and CSS were
            used.
          </p>

          <a
            class="overlay-btn"
            data-i18n="portfolioBtnVisit"
            target="_blank"
            href="https://alexandr-melnichenko.github.io/dream-team-project/"
            >VISIT</a
          >
        </div>
      </div>
    </li>

    <li class="portfolio-item" data-category="personal">
      <img
        class="project-image"
        src="/img/webp/rental-car-screenshot.webp"
        alt="Rental car project"
      />
      <div class="overlay">
        <div class="overlay-content">
          <p data-i18n="portfolioOverlayTagPersonalProject" class="overlay-tag">
            personal project
          </p>
          <h3 data-i18n="portfolioOverlayTitleRentalCar" class="overlay-title">
            RENTAL CAR
          </h3>
          <p data-i18n="portfolioOverlayTextRentalCar" class="overlay-text">
            Rental car is a personal test project designed to search and select
            rental cars from the provided database. The project is written using
            React and Redux. <br /><br />
            It implements filtering of cars by brand, price and mileage. And
            also a card of the car itself with an enlarged photo and a detailed
            description. <br /><br />Submitting the form is simulated by a
            pop-up message about successful sending.
          </p>

          <a
            class="overlay-btn"
            data-i18n="portfolioBtnVisit"
            target="_blank"
            href="https://rental-car-indol-two.vercel.app/catalog"
            >VISIT</a
          >
        </div>
      </div>
    </li>
  </ul>

  <div class="phrase-container">
    <p data-i18n="portfolioTextManyMore" class="phrase">
      And many more to come!
    </p>
  </div>
</section>
