<section id="portfolio" class="portfolio-section">
  <div class="portfolio-title-container">
    <div class="title-box">
      <h2 class="title-in-box">PORTFOLIO</h2>
    </div>
  </div>
  <div class="btn-container">
    <button class="filter-btns">ALL</button>
    <button class="filter-btns">CODED</button>
    <button class="filter-btns">DESIGNED</button>
  </div>
  <div class="project-container project-one-background"></div>
  <div class="project-container project-two-background"></div>
  <div class="project-container project-three-background"></div>
  <div class="phrase-container">
    <p class="phrase">And many more to come!</p>
  </div>
</section>
