.about-me-section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 74px;
  padding-bottom: 94px;
  background-image: radial-gradient(rgba(26, 21, 21, 0), rgba(1, 1, 1, 0.26));
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.about-me-text {
  text-align: justify;
  margin: 34px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.btn-explore {
  width: 148px;
  height: 40px;
  border: none;
  background: none;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 66px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-box {
  border: 8px solid #000;
  width: auto;
  padding: 20px 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-in-box {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.43rem;
  margin: 0 auto;
}

.list-of-services {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin-bottom: 74px;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 34px;
  position: relative;
}

.svg-icon {
  position: absolute;
  top: -14px;
  left: -32px;
  width: 44px;
  height: 44px;
}

.services-title {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.18rem;
}

.separator {
  width: 160px;
  height: 12px;
  margin-bottom: 90px;
}

.skills-titles {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.18rem;
  margin: 74px auto;
}

.tech-list {
  display: flex;
  flex-direction: column;
  gap: 88px;
  padding: 0;
}

.skill-name {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.18rem;
}

.technology-icons {
  width: 108px;
  height: 100px;
}

.technology-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.extended-box {
  display: none;
}

.second-tech-list {
  display: none;
}

.skills-titles-1200 {
  display: none;
}

.other-tech-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .skills-container {
    padding-right: 40px;
    padding-left: 40px;
  }

  .tech-list {
    max-width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 82px;
    column-gap: 100px;
    justify-content: space-evenly;
  }

  .skills-titles-1200 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.18rem;
    margin: 74px 0;
    display: block;
    align-self: start;
    text-align: left;
  }

  .learning-tech-list {
    width: 100%;
    display: flex;
    max-width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 82px;
    column-gap: 100px;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
  }

  .other-tech-list {
    width: 100%;
    display: flex;
    max-width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 82px;
    column-gap: 100px;
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
  }

  .extended-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills-titles {
    display: block;
    align-self: start;
    margin: 74px 0;
    text-align: left;
  }

  .other-skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .other-icon {
    margin-bottom: 22px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-me-section {
    padding-top: 142px;
  }

  .title-in-box {
    font-size: 30px;
    letter-spacing: 0.36rem;
  }

  .title-box {
    padding: 32px 70px;
  }

  .about-me-text {
    font-size: 15px;
    margin: 72px auto;
  }

  .btn-explore {
    font-size: 15px;
    margin-bottom: 86px;
  }

  .list-of-services {
    width: 1020px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 76px;
    row-gap: 86px;
  }

  .service {
    width: 470px;
  }

  .extended-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills-container {
    max-width: 900px;
  }

  .skills-titles {
    display: block;
    align-self: start;
    margin: 100px 0;
    text-align: left;
    font-size: 30px;
  }

  .skills-titles-1200 {
    font-size: 30px;
    margin: 100px 0;
  }

  .tech-list {
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 82px;
    column-gap: 100px;
    justify-content: space-evenly;
  }

  .second-tech-list {
    width: 100%;
    display: flex;
    max-width: 900px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 82px;
    column-gap: 100px;
    justify-content: space-evenly;
  }

  .learning-tech-list {
    max-width: 1200px;
    padding: 0;
  }

  .other-tech-list {
    max-width: 1200px;
    padding: 0;
  }
}
