.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: radial-gradient(rgba(26, 21, 21, 0), rgba(0, 0, 0, 0.16));
}

.contact-section-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 70%;
  letter-spacing: normal;
  line-height: 200%;
  text-align: center;
  margin: 40px auto;
}

.contact-separator {
  width: 160px;
  height: 12px;
  margin-bottom: 64px;
}

.form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.input-style {
  width: 100%;
  border: none;
  background: none;
  border-left: 5px solid #000;
  border-bottom: 5px solid #000;
  padding: 12px 8px;
  color: #8b8b8b;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.04rem;
}

.submit-button {
  background: none;
  border: none;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #000;
  letter-spacing: 0.1rem;
  padding: 12px 40px;
  margin-top: 12px;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  padding: 15px 25px;
  border-radius: 8px;
  color: white;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1000;
  font-family: sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Цвет для успешного сообщения */
.toast--success {
  background-color: #4caf50; /* Green */
}

/* Цвет для сообщения об ошибке */
.toast--error {
  background-color: #f44336; /* Red */
}

/* Класс для отображения тостера */
.toast.show {
  transform: translateX(-50%) scale(1);
  opacity: 1;
}

/* Класс для скрытия тостера */
.toast.hide {
  transform: translateX(-50%) scale(0.8);
  opacity: 0;
}
