.header {
  padding: 20px 20px;
  /* background-color: #000000; */
}
.nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-logo-icon {
  fill: #fff;
  width: 42px;
  height: 35px;
}

/* .close-btn-icon {
  fill: #fff;
  width: 42px;
  height: 35px;
} */

.lang-switcher-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.lang-selector {
  background: none;
  border: none;
  color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
}

.btn-menu {
  background: none;
  border: none;
  padding: 0;
}

.close-menu-btn {
  background: none;
  border: none;
  padding: 0;
  display: none;
}

.close-btn-icon {
  width: 25px;
  height: 25px;
  display: none;
  z-index: 1001;
  fill: var(--text-color);
  stroke: var(--text-color);
}

.menu-links {
  display: none;
}

.btn-menu:checked + .mobile-menu-navigation {
  padding-top: 276px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-menu-header {
  position: fixed;
  transform: translateY(-130%);
  transition: transform 0.2s;
  top: 76px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.menu-header {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  line-height: 150%;
  letter-spacing: 0.03em;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.menuItem-header {
  display: block;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 24px;
  color: white;
  text-align: center;
  padding-top: 24px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menuItem-header:hover,
.menuItem-header:focus {
  color: black;
  background-color: #fff;
}

.showMenu {
  transform: translateY(0);
}

body.modal-open {
  overflow: hidden; /* Отключает прокрутку */
  position: fixed; /* Фиксирует body, чтобы избежать "прыжка" при исчезновении полосы прокрутки */
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    margin: 0 auto;
  }

  .nav-logo-icon {
    fill: black;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .header {
    padding: 40px 20px;
    max-width: 1200px;
    box-sizing: border-box;
  }

  .lang-switcher-btn-container {
    display: none;
  }

  .btn-menu {
    display: none;
  }

  .menu-btn {
    display: none;
  }

  .menu-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .nav-link {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 700;
  }

  .contact-link {
    background-color: #fff;
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 700;
    display: block;
    align-content: center;
    border-radius: 16px;
    padding: 10px 20px;
  }
  .nav {
    padding-left: 60px;
  }

  .nav-logo-icon {
    width: 60px;
    height: 50px;
  }

  .mobile-menu-navigation {
    display: none;
  }
}
