.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* min-width: 320px; */
  /* background-color: #000; */
  height: auto;
  padding: 50px 30px 0 38px;
  overflow: hidden;
}

/* .hero-section::before {
  content: '';
  position: absolute;
  top: 320px;
  left: 0;
  width: 120%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  transform-origin: bottom left;
  transform: rotate(-9deg);
  z-index: 2;
} */

.hero-container {
  position: relative;
  width: 100%;
  max-width: 375px;
  margin: 0 auto; /* Центрируем для примера */
  overflow: hidden;
}

.img-hero {
  width: 100%;
  height: auto;
  display: block;
}

/* Styles for Mobile devices */
.hero-text-column {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: 375px;
  padding: 0;
  /* background-color: #000; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 3;
  margin: 0 auto;
  padding-bottom: 20px;
  background-image: linear-gradient(
    -9deg,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0) 40%
  );
}
/* Styles for Tablet devices */

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  fill: #fff;
  width: 25px;
  height: 25px;
}

.text-Hi {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.text-h1 {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 35px;
  padding: 0;
}

.text-profession {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  color: white;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
  }

  .hero-text-column {
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 100px;
    align-items: flex-start;
    background-image: none;
  }

  .icons-wrapper {
    flex-direction: row;
  }

  .text-Hi {
    color: black;
  }
  .text-h1 {
    color: black;
  }
  .text-profession {
    color: #909090;
  }
  .social {
    width: 50px;
    height: 46px;
    background-color: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .social-icons {
    width: 30px;
    height: 30px;
    fill: black;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1200px;
    margin: auto;
    padding: 0 80px;
    box-sizing: border-box;
  }

  .hero-container {
    width: 100%;
    max-width: 1200px;
    max-height: 820px;
    margin: 0;
  }

  .img-hero {
    height: 100%; /* Контейнер изображения занимает всю высоту родителя */
    width: auto; /* Ширина масштабируется пропорционально высоте */
    display: flex; /* Flexbox для img, если нужно центрировать его внутри .img-hero */
    justify-content: center; /* Центрируем изображение по горизонтали внутри .img-hero */
    align-items: center;
  }

  .img-hero img {
    height: 820px; /* Изображение масштабируется по высоте контейнера .img-hero */
    width: auto; /* Ширина автоматически масштабируется, сохраняя пропорции */
    object-fit: contain; /* **КЛЮЧЕВОЕ СВОЙСТВО**: Гарантирует, что изображение ПОЛНОСТЬЮ поместится в контейнер без обрезания, сохраняя пропорции. */
  }

  .hero-text-column {
    margin: 0;
  }

  .text-Hi {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .text-h1 {
    font-size: 80px;
  }

  .text-profession {
    font-size: 24px;
  }

  .text-wrapper {
    gap: 30px;
  }

  .social {
    width: 60px;
    height: 56px;
  }

  .social-icons {
    width: 36px;
    height: 36px;
  }

  .hero-text-column {
    gap: 136px;
  }
}
